/* body section */

body{
    margin: 0%;
    padding: 0%;
}


/* preloaderSection */

#preloaderSection{
    height: 100vh;
    width: 100vw;
    background-color: black;
    vertical-align: middle;
    display: table-cell;
    padding: 0%;
    margin: 0%;
}
#preloaderText{
    margin-left: 50vw;
    margin-right: 50vw;
}
.preloaderColin{
    color: white;
    text-align: left;
    width: 100%;
}
.preloaderRichards{
    color: white;
    text-align: left;
    width: 100%;
}
h1 {
    font-size: 4em;
  }
h1 span {
    background:
      linear-gradient(rgb(252, 111, 146),rgb(252, 111, 146)) left no-repeat,
      rgb(0, 0, 0);
    background-size:0% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation:loading 2s forwards linear;
  }
  
  @keyframes loading {
    100% {
      background-size:100% 100%;
    }
  }
/* .preloaderText.animate {
    animation-name: preloader;
    color: white;
    text-align: center;
}

@keyframes preloader{
    0% {
        bottom: 0;
        left: 340px;
        background: #f00;
     }
     33% {
        bottom: 0;
        left: 340px;
        background: #f00;
     }
     66% {
        bottom: 0;
        left: 340px;
        background: #f00;
     }
     100% {
        bottom: 0;
        left: 340px;
        background: #f00;
     }
        
} */